.header-text {
  padding: 13px 0;
  font-size: 2em;
  font-weight: 700;
}


/* */
.navbar-custom {
  background-color: #7F8CC1;
  border-color: #586eca;
  color: #fff;
}



/* */
.list-group {
  padding-top: 20px;
}

.list-group .list-group-item {
  padding: 20px;
  font-size: 1.4em;
  background-color: transparent;
  transition: .4s all ease-in-out;
}

.list-group .list-group-item:hover {
  background-color: #F7F7F9;
  cursor: pointer;
}
